table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}

#map { 
    height: 90vh; 
    border: 1px;
    border-color: brown;
    border-radius: 10px;
}